{
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 140,
  "semi": true,
  "trailingComma": "es5",
  "embeddedLanguageFormatting": "auto",
  "useTabs": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "useTabs": false,
        "singleQuote": false,
        "semi": true
      }
    }
  ],
  "plugins": [],
  "multilineArraysWrapThreshold": 1
}
